@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --fonte-padrao: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body, html {
    width: 100vw;
    height: 100vh;
    background: black linear-gradient(180deg, purple, green);
}


