@charset "UTF-8";

:root {
    --cor01: #0045DB;
    --cor02: #00D0DB;
    --cor03: #293B61;
    --cor04: #614A2B;
    --cor05: #DB7E00;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
}


header {
    background-color: var(--cor01);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
}

header > h1 {
    font: normal 600 8em Times;
    margin: 20px;
    color: white;
}

header > h2 {
    font: normal 400 3em Times;
    margin: 10px;
    color: white;
}

nav {
    background-color: var(--cor01);
    text-align: center;
}

nav > h1 {
    padding: 10px;
}

nav > a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--cor04);
    color: white;
}

main {
    background-color: white;
}