@charset "UTF-8";

img#spec {
    margin: auto;
    display: block;
}

iframe#frame-spec {
    display: block;
    margin: auto;
    width: 350px;
    height: 500px;
    position: relative;
    overflow: hidden;
    padding: 10px 0px;
}

img#mao {
    display: block;
    margin: auto;
}

.spec {
    background-color: #ffffff00;
}

.frame {
    margin-top: 200px;
}

.img-d {
    display: block;
    margin: auto;
}